<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<style>
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 0.2em;
    transform: translateY(-1px);
    transition: color 0.2s ease;
  }

    a:hover .material-symbols-outlined {
    color: white; /* change this to any hover color you want */
  }
</style>
<header>


  
  <div class="site-title">
    <img src="images/header-icon.png" alt="Zahra Baxi logo" class="header-icon" />
    <h1>Zahra Baxi</h1>
  </div>
  

<section class="tab-stack">

  <div class="file-tab-row" style="--tab-bg: #bea633;">
    <div class="tab-label-container">
      <a href="index.html" class="tab-label first" data-bg="#bea633">portfolio</a>
    </div>
  </div>

  <div class="file-tab-row" style="--tab-bg: #ebb8b4;">
    <div class="tab-label-container">
      <a href="art.html" class="tab-label second" data-bg="#ebb8b4">art & photography</a>
    </div>
  </div>

  <div class="file-tab-row" style="--tab-bg: #dee4e8;">
    <div class="tab-label-container">
      <a href="https://trinketsbypickles.com" target="_blank" rel="noopener" class="tab-label third" data-bg="#dee4e8">trinkets by pickles<span class="material-symbols-outlined">open_in_new</span></a>
    </div>
  </div>

  <div class="file-tab-row" style="--tab-bg: #ce6732;">
    <div class="tab-label-container">
      <a href="about.html" class="tab-label fourth" data-bg="#ce6732">about</a>
    </div>
  </div>

</section>
