<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<style>
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 0.2em;
    transform: translateY(-1px);
    transition: color 0.2s ease;
  }

    a:hover .material-symbols-outlined {
    color: #97ad6d; /* change this to any hover color you want */
  }
</style>

<header>


  
  <div class="site-title">
    <img src="images/header-icon.png" alt="Zahra Baxi logo" class="header-icon" />
    <h1>Zahra Baxi</h1>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="index.html">Portfolio</a></li>
      <li><a href="art.html">Art/Photography</a></li>
      <li>
      <a href="https://trinketsbypickles.com" target="_blank" rel="noopener">
        Trinkets by Pickles
        <span class="material-symbols-outlined">open_in_new</span>
      </a>
      </li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
</header>