<!-- header.html -->
 <div class="header">
  <img src="images/icon.png" class="header-icon">
  <div class="site-name">zahra baxi</div>
  <!-- <div class="tab-bar-container">
    <nav class="tab-bar">
      <a href="index.html" class="tab-label" data-page="index" data-bg= "var(--home)" style="--tab-bg: var(--home)">home</a>
      <a href="portfolio.html" class="tab-label" data-page="portfolio" data-bg="var(--portfolio)" style="--tab-bg: var(--portfolio)";">portfolio</a>
      <a href="art.html" class="tab-label" data-page="art" data-bg="var(--art)" style="--tab-bg: var(--art)";">personal work</a>
      <a href="https://trinketsbypickles.com" target="_blank" class="tab-label"  style="--tab-bg: var(--trinket)";">trinkets by pickles ⬈</a>
      <a href="about.html" class="tab-label" data-page="about" data-bg="var(--about)" style="--tab-bg: var(--about)";">about</a>
    </nav>
</div> -->
<div class="tab-bar-container">
  <button class="hamburger" id="hamburgerBtn" aria-label="Toggle navigation">
    ☰
  </button>

  <nav class="tab-bar" id="mobileNav">
    <a href="index.html" class="tab-label" data-page="index" style="--tab-bg: var(--home)">home</a>
    <a href="portfolio.html" class="tab-label" data-page="portfolio" style="--tab-bg: var(--portfolio)">portfolio</a>
    <a href="art.html" class="tab-label" data-page="art" style="--tab-bg: var(--art)">personal work</a>
    <a href="https://trinketsbypickles.com" class="tab-label" target="_blank" style="--tab-bg: var(--trinket)">trinkets by pickles ⬈</a>
    <a href="about.html" class="tab-label" data-page="about" style="--tab-bg: var(--about)">about</a>
  </nav>
</div>


</div>

