@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  font-family: Courier New;
}

img.icon {
  float: left;
}

/* fonts */ 
	
body{
  font-family: 'Poppins', sans-serif;
}
div{
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}

.topheader{
  width: 50%;
}
.bottomheader{
  width: 50%;
}

h1{
  color: #ff00ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 37.333px;
}
descrip{
  color: #ff00ff;
  font-size: 20px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.icon {
  float: left;
  max-width: 250px;
  margin-right: 20px;
}


.fa {
  padding: 12px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 1px 1px;
}

.fa:hover {
    opacity: 0.65;
}

.fa-facebook {
  background: #ff00ff;
  color: white;
}

.fa-linkedin {
  background: #ff00ff;
  color: white;
}

.fa-instagram {
  background: #ff00ff;
  color: white;
}

.fa-behance {
  background: #ff00ff;
  color: white
}
  

footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: white;
  
}


